@media screen and (max-width: 630px) {
  .wrapper {
    max-width: 100%; }
  .header {
    height: 700px; }
    .header .menu {
      padding: 15px; }
      .header .menu .menu-links {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .header .menu .menu-links .menu__logo {
          width: 100px; }
        .header .menu .menu-links .link {
          margin: 0; }
      .header .menu .social-links {
        display: none; }
    .header .header-content {
      max-width: 80%;
      margin: 30px;
      padding: 0; }
      .header .header-content .content__text {
        height: 350px;
        padding: 40px 0; }
      .header .header-content .content__img {
        max-width: 100%;
        position: absolute;
        top: 90%;
        left: 15%;
        z-index: -1; }
  .main {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px; }
    .main .text {
      margin-top: 5%; }
    .main .box {
      padding: 25px 30px 30px 30px; }
    .main .content-left {
      width: 100%; }
      .main .content-left .free {
        padding-right: 30px; }
      .main .content-left .about-text {
        padding: 35px 30px 30px 30px;
        max-height: 430px; }
      .main .content-left .roadmap {
        padding: 0; }
        .main .content-left .roadmap .title {
          margin-top: 30px; }
        .main .content-left .roadmap .roadmap-content .item {
          width: 122px; }
          .main .content-left .roadmap .roadmap-content .item .subtitle {
            top: 35px; }
    .main .content-right {
      width: 100%; }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 80px; }
    .footer .about, .footer .news, .footer .contacts {
      width: 100%;
      text-align: center;
      margin-top: 15%; }
    .footer .news .form {
      height: 100px; }
      .footer .news .form .label {
        top: 10%;
        left: 13%; }
      .footer .news .form .button {
        border-radius: 5px;
        margin-top: 5%; }
    .footer .by {
      display: none; } }
