* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat'; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.header .menu {
  width: 100%;
  padding: 38px 45px 0 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header .menu .menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .menu .menu-links .menu__logo {
      max-width: 120px; }
    .header .menu .menu-links .link {
      margin-left: 35px;
      color: #1F2431;
      font-size: 16px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .header .menu .menu-links .link:hover {
        color: #315EFB; }
  .header .menu .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .menu .social-links li:not(:first-child) {
      margin-left: 10px; }

.header .header-content {
  width: 100%;
  margin: 60px 0 90px 0;
  padding: 0 95px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .header .header-content .content__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 90px 0 80px 0; }
    .header .header-content .content__text .title {
      font-weight: bold;
      font-size: 36px;
      line-height: 46px;
      color: #1F2431; }
    .header .header-content .content__text .text {
      font-size: 16px;
      line-height: 26px;
      color: #82899B; }
    .header .header-content .content__text .create-wallet {
      background-color: #315EFB;
      border-radius: 50px;
      max-width: 215px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .header .header-content .content__text .create-wallet:hover {
        background-color: #fff;
        color: #315EFB;
        border: 3px solid #315EFB; }

.main {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main .content-left {
    max-width: 565px; }
    .main .content-left .about-text {
      padding: 45px 40px 40px 40px;
      background-color: #FAFCFF;
      border-radius: 5px; }
    .main .content-left .roadmap {
      height: 725px;
      padding: 35px 80px 55px 40px; }
      .main .content-left .roadmap .title {
        padding: 0; }
      .main .content-left .roadmap .roadmap-content {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .main .content-left .roadmap .roadmap-content .item {
          max-width: 145px;
          height: 120px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          position: relative; }
          .main .content-left .roadmap .roadmap-content .item .top {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .main .content-left .roadmap .roadmap-content .item .top .round {
              width: 20px;
              height: 20px;
              background-color: #000;
              border-radius: 50px; }
              .main .content-left .roadmap .roadmap-content .item .top .round.green {
                background: -webkit-linear-gradient(125.47deg, #28BC00 -27.5%, rgba(40, 188, 0, 0) 108.52%);
                background: -o-linear-gradient(125.47deg, #28BC00 -27.5%, rgba(40, 188, 0, 0) 108.52%);
                background: linear-gradient(324.53deg, #28BC00 -27.5%, rgba(40, 188, 0, 0) 108.52%); }
              .main .content-left .roadmap .roadmap-content .item .top .round.blue {
                background: -webkit-linear-gradient(125.47deg, #315EFB -27.5%, rgba(49, 94, 251, 0) 108.52%);
                background: -o-linear-gradient(125.47deg, #315EFB -27.5%, rgba(49, 94, 251, 0) 108.52%);
                background: linear-gradient(324.53deg, #315EFB -27.5%, rgba(49, 94, 251, 0) 108.52%); }
                .main .content-left .roadmap .roadmap-content .item .top .round.blue.opacity {
                  opacity: 0.5; }
            .main .content-left .roadmap .roadmap-content .item .top .line {
              width: 115px;
              height: 2px;
              background-color: #EEEEFF;
              margin: 5px; }
            .main .content-left .roadmap .roadmap-content .item .top .rounds {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              height: 20px;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center; }
              .main .content-left .roadmap .roadmap-content .item .top .rounds .small-round {
                width: 5px;
                height: 5px;
                border-radius: 5px;
                background: -webkit-linear-gradient(125.47deg, #315EFB -27.5%, rgba(49, 94, 251, 0) 108.52%);
                background: -o-linear-gradient(125.47deg, #315EFB -27.5%, rgba(49, 94, 251, 0) 108.52%);
                background: linear-gradient(324.53deg, #315EFB -27.5%, rgba(49, 94, 251, 0) 108.52%);
                opacity: 0.5; }
                .main .content-left .roadmap .roadmap-content .item .top .rounds .small-round:not(:first-child) {
                  margin-left: 2px; }
          .main .content-left .roadmap .roadmap-content .item .subtitle {
            font-weight: 300;
            font-size: 10px;
            line-height: 18px;
            color: #1F2431;
            position: absolute;
            top: 25px; }
          .main .content-left .roadmap .roadmap-content .item .bottom {
            margin-top: 30px; }
            .main .content-left .roadmap .roadmap-content .item .bottom .text {
              max-width: 120px;
              font-weight: 300;
              font-size: 12px;
              line-height: 18px;
              color: #82899B; }
  .main .content-right {
    max-width: 565px; }
  .main .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
    color: #82899B; }
  .main .free,
  .main .tokens,
  .main .exchange,
  .main .multi,
  .main .roadmap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #FAFCFF;
    border-radius: 5px; }
    .main .free .img,
    .main .tokens .img,
    .main .exchange .img,
    .main .multi .img,
    .main .roadmap .img {
      max-width: 400px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
  .main .free,
  .main .tokens,
  .main .exchange {
    margin-top: 10px;
    height: 400px; }
  .main .free,
  .main .tokens,
  .main .exchange,
  .main .multi {
    padding: 35px 40px 40px 40px; }
  .main .multi {
    height: 505px; }

.footer {
  padding: 170px 140px 205px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative; }
  .footer .subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
    color: #82899B; }
  .footer .about .links {
    margin-top: 20px; }
    .footer .about .links .link {
      font-size: 16px;
      line-height: 20px;
      color: #82899B; }
      .footer .about .links .link:hover {
        color: #315EFB; }
    .footer .about .links li:not(:first-child) {
      margin-top: 5px; }
  .footer .contacts .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15%; }
  .footer .news .form {
    position: relative; }
    .footer .news .form .label {
      position: absolute;
      left: 15px;
      top: 12px;
      font-weight: normal;
      font-size: 14px;
      color: #82899B;
      z-index: 1;
      -webkit-transition: .2s all;
      -o-transition: .2s all;
      transition: .2s all; }
    .footer .news .form .input {
      width: 220px;
      height: 40px;
      border-radius: 5px 0 0 5px;
      border: 1px solid #82899B;
      margin: 0;
      padding: 10px;
      z-index: 2; }
      .footer .news .form .input:focus {
        outline: 2px solid #315EFB;
        border: 0; }
      .footer .news .form .input:focus ~ .label,
      .footer .news .form .input:not(:placeholder-shown) ~ .label {
        display: none; }
    .footer .news .form .button {
      width: 105px;
      height: 40px;
      background-color: #315EFB;
      border-radius: 0 5px 5px 0;
      border: none;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      margin-left: -4px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .footer .news .form .button:hover, .footer .news .form .button :focus {
        background-color: #34A853; }
  .footer .by {
    position: absolute;
    right: 200px;
    bottom: 120px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #82899B; }
    .footer .by .bold {
      font-weight: bold;
      color: #1F2431; }
